In [2]:
import sys
sys.path.append('./src/')
from helper import *
import warnings
warnings.filterwarnings('ignore')
import time

# Problem 1

In [3]:
# dataset
from sklearn.datasets import load_breast_cancer, load_iris, load_wine
cancer = load_breast_cancer()
iris = load_iris()
wine = load_wine()

df1 = pd.DataFrame(data = cancer.data, columns=cancer.feature_names)
df1['target'] = cancer.target

df2 = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df2['target'] = iris.target

df3 = pd.DataFrame(data=wine.data, columns=wine.feature_names)
df3['target'] = wine.target

# Problem2

In [4]:
# df1 (housing)
display(df1.head())

# print the accuracy
foo1(df1)

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

tree cart accracy 0.918
knn accuracy 0.947
svm accuracy 0.924
NB accuracy 0.924
tree ID3 accuracy 0.971

10 FOLD
tree cart accracy 0.909
knn accuracy 0.930
svm accuracy 0.914
NB accuracy 0.937
tree ID3 accuracy 0.935

In [5]:
# df2 (iris)
display(df2.head())

# print the accuracy
foo1(df2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

tree cart accracy 0.978
knn accuracy 0.978
svm accuracy 0.978
NB accuracy 1.000
tree ID3 accuracy 0.978

10 FOLD
tree cart accracy 0.960
knn accuracy 0.967
svm accuracy 0.973
NB accuracy 0.953
tree ID3 accuracy 0.927

In [6]:
# df3 (wine)
display(df3.head())

# print the accuracy
foo1(df3)

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

tree cart accracy 0.926
knn accuracy 0.722
svm accuracy 0.778
NB accuracy 0.944
tree ID3 accuracy 0.926

10 FOLD
tree cart accracy 0.876
knn accuracy 0.675
svm accuracy 0.681
NB accuracy 0.978
tree ID3 accuracy 0.904

# Problem 3

### DF2 IRIS AUGMENTATION

In [7]:
# df2 (iris) augmentation
df2[df2.target==0].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,50.00000,50.000000,50.000000,50.000000,50.0
mean,5.00600,3.428000,1.462000,0.246000,0.0
std,0.35249,0.379064,0.173664,0.105386,0.0
min,4.30000,2.300000,1.000000,0.100000,0.0
25%,4.80000,3.200000,1.400000,0.200000,0.0
50%,5.00000,3.400000,1.500000,0.200000,0.0
75%,5.20000,3.675000,1.575000,0.300000,0.0
max,5.80000,4.400000,1.900000,0.600000,0.0

In [8]:
df2[df2.target==1].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,50.000000,50.000000,50.000000,50.000000,50.0
mean,5.936000,2.770000,4.260000,1.326000,1.0
std,0.516171,0.313798,0.469911,0.197753,0.0
min,4.900000,2.000000,3.000000,1.000000,1.0
25%,5.600000,2.525000,4.000000,1.200000,1.0
50%,5.900000,2.800000,4.350000,1.300000,1.0
75%,6.300000,3.000000,4.600000,1.500000,1.0
max,7.000000,3.400000,5.100000,1.800000,1.0

In [9]:
df2[df2.target==2].describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,50.00000,50.000000,50.000000,50.00000,50.0
mean,6.58800,2.974000,5.552000,2.02600,2.0
std,0.63588,0.322497,0.551895,0.27465,0.0
min,4.90000,2.200000,4.500000,1.40000,2.0
25%,6.22500,2.800000,5.100000,1.80000,2.0
50%,6.50000,3.000000,5.550000,2.00000,2.0
75%,6.90000,3.175000,5.875000,2.30000,2.0
max,7.90000,3.800000,6.900000,2.50000,2.0

In [10]:
# augment data 
# d1 original
d1 = pd.DataFrame(df2) 
n = len(d1)

# d2 x1
d2 = pd.DataFrame(d1)
new_df = sample_df_for_iris(n//3)
d2 = pd.concat([d2, new_df])
d2 = d2.reset_index(drop=True)

# d3 x2
d3 = pd.DataFrame(d2)
new_df = sample_df_for_iris(n//3)
d3 = pd.concat([d3, new_df])
d3 = d3.reset_index(drop=True)


# d3 x3 
d4 = pd.DataFrame(d3)
new_df = sample_df_for_iris(n//3)
d4 = pd.concat([d4, new_df])
d4 = d4.reset_index(drop=True)

# d5 x4
d5 = pd.DataFrame(d4)
new_df = sample_df_for_iris(n//3)
d5 = pd.concat([d5, new_df])
d5 = d5.reset_index(drop=True)

# Problem 4

In [11]:
# XGBoost
start_time = time.time()
for df in [d1, d2, d3, d4, d5]:
    tmp = xgboost_accuracy(df)
    print(tmp)
print('time')
print(time.time() - start_time)

0.9777777777777777
0.9444444444444444
0.9629629629629629
0.9777777777777777
0.9866666666666667
time
0.46387600898742676

In [12]:
# CATBoost
start_time = time.time()
for df in [d1, d2, d3, d4, d5]:
    tmp = catboost_accuracy(df)
    print(tmp)
print('time')
print(time.time() - start_time)

0.9777777777777777
0.9444444444444444
0.9555555555555556
0.9722222222222222
0.9866666666666667
time
7.876206636428833

In [13]:
# LightGBM
start_time = time.time()
for df in [d1, d2, d3, d4, d5]:
    tmp = lgbm_accuracy(df)
    print(tmp)
print('time')
print(time.time() - start_time)

0.9555555555555556
0.9444444444444444
0.9629629629629629
0.9833333333333333
0.9866666666666667
time
0.5395140647888184